/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

::-webkit-scrollbar{
  display: none !important;
}

@layer vuetify-core.reset {
  ul, ol, figure, details, summary {
    padding: 0;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

.text-body-small,
.text-caption,
.text-label-small {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}
